@model IEnumerable<LibraryManagement.Models.Book>
@inject LibraryManagement.Utils.Services.IAuthorService AuthorService

@{
    ViewData["Title"] = "Index";
}

<h1>Book Index</h1>

<div class="grid-book-container">
    @if (User.IsInRole("Administrator"))
    {
        <div class="grid-book-item">
            <p>
                <a asp-action="Create">Add Book</a>
            </p>
        </div>
    }
    @foreach (var item in Model)
    {
        @if (User.IsInRole("Administrator"))
        {
            <a asp-action="Edit" asp-route-id="@item.BookID">
                <div class="grid-book-item">
                    @Html.DisplayFor(modelItem => item.Title)
                    <br>
                    @AuthorService.stringifyAuthors(item.Authors)
                    <br>
                    @Html.DisplayFor(modelItem => item.Publisher)

                </div>
            </a>
        }
        else
        {
            <a asp-area="" asp-controller="Request" asp-action="Create" asp-route-id="@item.BookID">
                <div class="grid-book-item">
                    @Html.DisplayFor(modelItem => item.Title)
                    <br>
                    @AuthorService.stringifyAuthors(item.Authors)
                    <br>
                    @Html.DisplayFor(modelItem => item.Publisher)

                </div>
            </a>
        }
    }
</div>
