@model IEnumerable<LibraryManagement.Models.Book>
@inject LibraryManagement.Utils.Services.IAuthorService AuthorService

@{
    ViewData["Title"] = "Index";
}

<h1>Book Index</h1>

<div class="grid-book-container">
    @if (User.IsInRole("Administrator"))
    {
        <div class="grid-book-item">
            <p>
                <a asp-action="Create">Add Book</a>
            </p>
        </div>
    }
    @foreach (var item in Model)
    {
        @if (User.IsInRole("Administrator"))
        {
            <a asp-action="Edit" asp-route-id="@item.BookID">
                <div class="grid-book-item">
                    <div>
                        @Html.DisplayFor(modelItem => item.Title)
                    </div>
                    <div>
                        @AuthorService.stringifyAuthors(item.Authors)
                    </div>
                    <div>
                        <div>
                            @Html.DisplayFor(modelItem => item.Publisher)
                        </div>
                        <div style="display:inline;">
                            @Html.DisplayFor(modelItem => item.Price)
                        </div>
                    </div>
                </div>
            </a>
        }
        else
        {
            <a asp-area="" asp-controller="Purchase" asp-action="Create" asp-route-bookid="@item.BookID">
                <div class="grid-book-item">
                    <div class="book-field">
                        @Html.DisplayFor(modelItem => item.Title)
                    </div>
                    <div class="book-field">
                        @AuthorService.stringifyAuthors(item.Authors)
                    </div>
                    <div class="book-field">
                        <span>
                            @Html.DisplayFor(modelItem => item.Publisher)
                        </span>
                        <span style="float:right;">
                            @Html.DisplayFor(modelItem => item.Price) lei
                        </span>
                    </div>
                </div>
            </a>
        }
    }
</div>
